<div class="container-fluid">
  <header>
    <h1 class="text-center text-white fw-bold">Age Calculator</h1>
  </header>
  <div class="content-body">
    <form [formGroup]="ageForm" (ngSubmit)="onSubmit()">
      <div class="row p-3">
        <div class="col">
          <label for="" class="fw-bold">Day</label>
          <input type="number" class="form-control" formControlName="birth_day" id="day">
          <app-date-validity [key]="'day'" [control]="ageForm.get('birth_day')"></app-date-validity>
        </div>
        <div class="col">
          <label for="" class="fw-bold">Month</label>
          <input type="number" class="form-control" formControlName="birth_month">
          <app-date-validity [key]="'month'" [control]="ageForm.get('birth_month')"></app-date-validity>
        </div>
        <div class="col">
          <label for="" class="fw-bold">Year</label>
          <input type="number" class="form-control" formControlName="birth_year" id="year" >
          <app-date-validity [key]="'year'" [control]="ageForm.get('birth_year')"></app-date-validity>
        </div>
      </div>
      <button type="submit" class="submit-button">
      <svg _ngcontent-ebf-c1="" width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-ebf-c1="" fill-rule="evenodd" clip-rule="evenodd"
         d="M1.46449 59.4727C-5.01549 34.5937 10.6356 8.3517 36.0266 1.5237C52.5095 -2.9093 70.6646 2.50671 82.7976 15.4767C89.2335 22.3567 92.0575 27.4617 94.3715 36.4027C100.835 61.3682 85.4536 87.2001 60.1047 94.2151C56.2121 95.2341 52.1266 95.7766 47.9145 95.7766C43.5741 95.7766 39.3679 95.2005 35.3689 94.1205C27.0626 91.7799 19.3257 87.1391 13.1335 80.4917C6.73549 73.6247 3.74947 68.2447 1.46449 59.4727ZM46.9145 57.8897V41.9167C46.9145 31.9337 47.2895 25.9427
         47.9145 25.9427C48.5385 25.9427 48.9265 32.0467 48.9465 42.1927L48.9775 58.4427L51.0835 55.6187C52.2415 54.0647 54.9335 51.6927 57.0655 
         50.3477C61.2055 47.7337 69.9145 45.9347 69.9145 47.6937C69.9145 48.2557 67.9225 49.0147 65.4875 49.3797C57.1455 50.6307 50.6025 57.1737 49.3515 65.5157C48.9865 67.9507 48.3395 69.9427 47.9145 69.9427C47.4895 69.9427 46.8425 67.9507 46.4775 65.5157C45.2265 57.1737 38.6835 50.6307 30.3415 49.3797C25.8305 48.7027 24.1745 46.9427 28.0485 46.9427C32.8385 46.9427 38.5955 49.5827 42.6645 53.6467L46.9145 57.8897Z" fill="#32328E" class=""></path></svg>
        </button>
    </form> 
    <div class="show-answer d-flex mt-5 m-3 gap-3">
      <ng-container *ngIf="yearsOfAge === null || noOfMonth === null || noOfDays === null; else answer" >
        <div>
          <div class="row text-primary">
            <h1>--</h1>
          </div>
          <div class="row text-primary">
            <h1>--</h1>
          </div>
          <div class="row text-primary">
            <h1>--</h1>
          </div>
        </div>
      </ng-container>
      <ng-template #answer>
        <div>
          <div class="row text-primary">
            <h1>{{yearsOfAge}}</h1>
          </div>
          <div class="row text-primary">
            <h1>{{noOfMonth}}</h1>
          </div>
          <div class="row text-primary">
            <h1>{{noOfDays}}</h1>
          </div>
        </div>
      </ng-template>
      
      <div class="">
        <div class="row"><h1 class="fw-bold">Years</h1></div>
        <div class="row"><h1 class="fw-bold">Months</h1></div>
        <div class="row"><h1 class="fw-bold">Days</h1></div>
      </div>
    </div>
  </div>
</div>