/* Default styles */
.container-fluid {
  background-color: rgb(50, 50, 142);
  min-height: 100vh;
  padding-top: 8vh;
}

.content-body {
  height: 65vh;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin: auto;
  border-radius: 10px;
  border-bottom-right-radius: 40px;
}

.show-answer {
  width: 50%;
}

button {
  border: none;
  background-color: white;
}

.submit-button {
  margin: 20px;
  float: right;
}

@media screen and (max-width: 768px) {
  .content-body {
    width: 80%;
  }

  .show-answer {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .content-body {
    width: 90%;
  }

  .show-answer {
    width: 90%;
  }
}